USE [retrosheet]
GO
/****** Object:  Table [dbo].[reference_data]    Script Date: 6/7/2017 5:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reference_data](
	[ref_data_id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ref_data_type] [varchar](50) NOT NULL,
	[ref_data_code] [varchar](50) NOT NULL,
	[ref_data_desc] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[reference_data] ([ref_data_id], [ref_data_type], [ref_data_code], [ref_data_desc]) VALUES (N'204ff9c4-e3f2-48ab-93c1-7310f7c9a347', N'field_position', N'1', N'pitcher')
INSERT [dbo].[reference_data] ([ref_data_id], [ref_data_type], [ref_data_code], [ref_data_desc]) VALUES (N'4f4a037f-8633-4a88-9c2d-170cc3565f62', N'field_position', N'2', N'catcher')
INSERT [dbo].[reference_data] ([ref_data_id], [ref_data_type], [ref_data_code], [ref_data_desc]) VALUES (N'5ffd03b1-2557-4d13-8cf4-713cd851382d', N'field_position', N'3', N'first base')
GO
ALTER TABLE [dbo].[reference_data] ADD  CONSTRAINT [DF_ref_data_ref_data_id]  DEFAULT (newid()) FOR [ref_data_id]
GO
