<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Retrosheet_Persist.Properties.Settings.retrosheetConnectionString" connectionString="Data Source=&quot;cg2018winter.cxhaew7lbozm.us-east-2.rds.amazonaws.com, 1433&quot;;Initial Catalog=retrosheet;Persist Security Info=True;User ID=msunkist99;Password=Launch$99" providerName="System.Data.SqlClient" />
    <add name="retrosheetEntities" connectionString="metadata=res://*/retrosheet.csdl|res://*/retrosheet.ssdl|res://*/retrosheet.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;cg2018winter.cxhaew7lbozm.us-east-2.rds.amazonaws.com, 1433&quot;;initial catalog=retrosheet;persist security info=True;user id=msunkist99;password=Launch$99;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v14.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>